.icji-prompt-button {
    background-image: url(./images/icons-36-black.png);
    cursor: pointer;
    display: block;
    height: 36px;
    text-indent:-9999px;
    width: 36px;
}
.icji-prompt-button-open {
    background-position: -216px 50%;
}
.icji-prompt-button-close {
    background-position: -287px 50%;
}
